@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i,900');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Oleo+Script');
@import "~normalize-scss/sass/normalize/import-now";

$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

@import "~vue-multiselect/dist/vue-multiselect.min.css";

@import "./constants";
@import "./mixins";

html {
  box-sizing: border-box;
  font-family: $font-family-default;
  font-size: 62.5%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  overflow-y: scroll;
  font-size: $font-size-medium;
  font-weight: $font-weight-regular;

  letter-spacing: 0;
  font-weight: $font-weight-regular;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: $color-text-dark;
  font-size: 18px;
  line-height: 1.4;

  background-color: $color-body-background;
}

button, input, optgroup, select, textarea {
  font-family: $font-family-default;
}

h1 {
  font-size: $font-size-giant-mobile;
  font-weight: $font-weight-black;

  @include breakpoint($breakpoint-desktop) {
    font-size: $font-size-giant;
  }
}

h2 {
  margin: 2*$baseline 2*$baseline 3*$baseline;

  text-align: center;

  font-size: $font-size-huge;
  font-weight: $font-weight-regular;
  font-family: $font-family-cursive;
}

ol, ul {
  margin: 0;
  padding-left: 0;
}

li {
  list-style: none;
}

a {
  color: $color-text-dark;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.truncate {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.separator {
  display: block;

  margin: 4*$baseline;
  padding: 0 2*$baseline;

  min-height: 5px;

  border-top: 1px solid $color-separator-light;
}
