@import url('https://fonts.googleapis.com/css?family=Titillium+Web:200,300,400,600,700,900');
@import "~normalize-scss/sass/normalize/import-now";

$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

@import "~vue-multiselect/dist/vue-multiselect.min.css";

@import "./constants";
@import "./mixins";

html {
  box-sizing: border-box;
  font-family: 'Titillium Web', sans-serif;
  font-size: 62.5%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  overflow-y: scroll;
  font-size: $font-size-medium;
  font-weight: $font-weight-regular;
  -webkit-font-smoothing: antialiased !important;

  background-color: $color-body-background;
}

h2 {
  margin: 2*$baseline 2*$baseline 3*$baseline;

  text-transform: uppercase;
  text-align: center;

  font-size: 1.9rem;
  font-weight: $font-weight-semibold;
}

ol, ul {
  margin: 0;
  padding-left: 0;
}

li {
  list-style: none;
}

a {
  color: $color-text-dark;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.truncate {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.separator {
  display: block;

  margin: 4*$baseline;
  padding: 0 2*$baseline;

  min-height: 5px;

  border-top: 1px solid $color-separator-light;
}
