@import url('https://fonts.googleapis.com/css?family=Caveat+Brush');
@import "~normalize-scss/sass/normalize/import-now";

html {
  font-family: 'Caveat Brush', cursive;
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
}
